<!DOCTYPE html>
<html>
{{> head }}
<body>
 {{> nav }}
 <h2>
     This page has the result of posting a new shift.
 </h2>
 <p>
 	Your name is {{name}} and email is {{email}}
 	Your shift's time = {{time}} and job = {{job}}
 </p>
 {{> bootstrap-from-cdn-body }}
</body>
</html>
